@import "styles/utils";

.slideButton {
  width: 80px;
  height: 40px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 15px 20px -10px rgba(var(--box-shadow-rgb-color), 0.0991313);
  border-radius: 28px;
  overflow: hidden;

  @include media(">desktop") {
    width: 112px;
    height: 56px;
  }

  .previousButton, .nextButton {
    flex: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    background-size: auto 12px !important;

    @include media(">desktop") {
      background-size: auto 16px !important;
    }
  }

  .previousButton {
    background: url("/icons/icon-prev.svg") no-repeat center;
  }

  .nextButton {
    background: url("/icons/icon-next.svg") no-repeat center;
  }
}
